<!-- Modal -->


<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" 
aria-hidden="true" [ngClass]="{'show': showErrorModal, 'd-block': showErrorModal}" [ngStyle]="{'display': showErrorModal ? 'block' : 'none'}">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Erreur</h5>
      </div>
      <div class="modal-body">
        {{ errorMessage }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  (click)="closeErrorModal()" >Fermer</button>
      </div>
    </div>
  </div>
</div>



<div  class="modal fade" tabindex="-1" role="dialog" id="myModal" [ngClass]="{'show': showForm}" [ngStyle]="{'display': showForm ? 'block' : 'none'}"  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Prendre un rendez-vous</h5>
        <button type="button" class="close" (click)="onFormCancel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" class="form-control" [(ngModel)]="selectedDate" required>
          </div>
          <div>
            <label for="time">Heure:</label>
            <input type="time" id="time" name="time" class="form-control" [(ngModel)]="selectedTime" required>
          </div>
          <input type="hidden" id="professional" name="professional" [(ngModel)]="professional" required>
      
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="isSubmitting">
              <i *ngIf="isSubmitting" class="fas fa-spinner fa-spin"></i>
              Valider
            </button>
                        <button type="button" class="btn btn-secondary" (click)="onFormCancel()">Annuler</button>
          </div>
        </form>
 

       
      </div>
      
     
    </div>
  </div>
</div> 
<div class="fullcalendar-wrapper">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
