<header class="site-navbar py-4" role="banner">
  
    <div class="container">
      <div class="d-flex align-items-center">
        
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a routerLink='/register-medecin' class="nav-link">register-medecin</a></li>
              <li><a routerLink='/search-medecin' class="nav-link">search-medecin</a></li>

            </ul>
          </nav>
  
          </div>
      </div>
    </div>
  
  </header>
