<div *ngIf="consultations">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date </th>
                <th scope="col">Professionnel de santé</th>
                <th scope="col">Motif </th>
                <th scope="col">Notes </th>
                <th scope="col">Actions </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consultation of consultations ">
                <td style="width: 10%;">{{consultation.date | date:'yyyy-MM-dd' }}</td>

                <td style="width: 15%;">{{consultation.first_name}} {{consultation.last_name}}</td>
                <td style="width: 35%;">{{consultation.motif}}</td>

                <td style="width: 35%;">{{consultation.notes}}
                    <p>Documents</p>
                    <div *ngFor="let document of consultation.documents">
                        <img [src]="getImageUrl(document.fichier)" alt="Document Image" style="max-width: 250px;max-height: 50px;">
                        <p>{{ document.description }}</p>
                      </div>
                    
                </td>

                <td >

                    <a routerLink="/professionnel/edit-rdv/{{consultation.consultation_id}}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a routerLink="/professionnel/annuler-rdv/{{consultation.consultation_id}}">
                        <i class="material-icons">cancel</i>
                    </a>
    
                </td>
            </tr>
        </tbody>
    </table>


    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10]" [length]="count"
        (page)="onTableDataChange($event)"></mat-paginator>

</div>