<h1 class="h3 mb-2 text-gray-800">Professionels de santé</h1>

<div class="row">
    <div class="col-lg-12" style="padding-bottom: 15px;">
        <div class="p-3**">

          

            <div style="float:right">

                <a type="submit" routerLink="/admin/add-professional" class="btn btn-info btn-sm" id="submit"
                  >Ajouter un professionnel de santé</a>


            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="row">
                <div class="mb-3 col-lg-4">
                    <label for="productName" class="form-label">Nom du professionnel de santé</label>
                    <input type="text" class="form-control" id="MedecinName" name="MedecinName" ngModel>
                </div>
                <div class="mb-3 col-lg-4">
                    <label for="categorie" class="form-label">Spécialité</label>
                    <select class="form-select form-control" id="speciality" name="speciality" aria-label="" ngModel
                        *ngIf="SpecialityList.length > 0">
                        <option selected></option>
                        <option *ngFor="let s of SpecialityList" value="{{s.speciality}}">
                            {{s.speciality}}</option>
        
        
                    </select>
                </div>
        
        
                <div class="mb-3 col-lg-4">
                    <label for="categorie" class="form-label">Gouvernorat</label>
                    <select class="form-select form-control" id="gouvernorat" name="gouvernorat" aria-label="" ngModel>
                        <option selected></option>
                        <option *ngFor="let g of GouvernoratList" value={{g.governorate}}>
                            {{g.governorate}}</option>
        
        
                    </select>
                </div>
        
        
                <!-------Verification -->
        
                <div class="mb-3 col-lg-4">
                    <label for="verification" class="form-label">Verification</label>
                    <select class="form-select form-control" id="verification" name="verification" aria-label="" ngModel>
                        <option selected></option>
                        <option value="1">Verifié</option>
                        <option value="0">Non verifié</option>
        
                        <option value="2">Ignoré</option>
        
                        
        
                    </select>
                </div>
        
                <div class="mb-3 col-lg-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" ngModel>
                </div>
                <div class="mb-3 col-md-4">
        
                      <label for="submit" class="form-label d-md-block  " style="height: 20px;"></label>
    
                    <button type="submit" class="btn btn-primary" id="submit">Rechercher</button>
                </div>
            </div>
        </form>    </div>
    <div class="card-body">
        <div class="table-responsive">
            <!--   <router-outlet></router-outlet>
--->
            <div *ngIf="medecins">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" (click)="sortTable('first_name')">Nom </th>
                        <th scope="col" (click)="sortTable('speciality')">Specialité</th>
                        <th scope="col" (click)="sortTable('users.created_at')">Date inscription</th>
                        <th scope="col" (click)="sortTable('governorate')">Gouvernorat</th>
                        <th scope="col" (click)="sortTable('email')">Email</th>
                        <th scope="col" (click)="sortTable('verification')">Vérification</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let medecin of medecins | orderBy: sortColumn : sortOrder">
                        <td>Dr {{medecin.first_name}} {{medecin.last_name}}</td>
                        <td>{{medecin.speciality}}</td>
                        <td>{{ (medecin.created_at ? medecin.created_at : '2023-03-15 10:00') | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td>{{medecin.governorate}}</td>
                        <td>{{medecin.email}}</td>
                        <td>{{ medecin.verification == 0 ? 'Non' : (medecin.verification == 1 ? 'Oui' : (medecin.verification == 2 ? 'Ignoré' : '')) }}</td>
                        <td>
                          <a routerLink="/admin/edit-pro/{{medecin.id}}">
                            <i class="material-icons">edit</i>
                          </a>
                          <a routerLink="/admin/delete-pro/{{medecin.id}}">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[10]" [length]="count"
                    (page)="onTableDataChange($event)"></mat-paginator>

            </div>
        </div>
    </div>
</div>