

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{ errorMessage }}
</div>
<div class="alert alert-success" role="alert" *ngIf="successMessage">{{ successMessage }}
</div>

<form (ngSubmit)="onChangePassword()">
    <div class="mb-3">
      <label for="new-password">Nouveau mot de passe</label>
      <input id="new-password" type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" required minlength="6">
    </div>
    <div class="mb-3" >
      <label for="confirm-password">Confirmer mot de passe</label>
      <input id="confirm-password" type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Changer mot de passe</button>
  </form>

  <div style="padding-top:10px;
  padding-bottom:10px;">
  <a [routerLink]="['/admin/edit-patient', id]">Retour</a>
  </div>
