<!-- Nested Row within Card Body -->

<div class="row">
    <div class="col-lg-12" style="padding-bottom: 15px;">
        <div class="p-3">

            <div style="float:left">

                <a class="logo" routerLink="/public/">
                    <span>Medical</span>
                </a>

            </div>

            <div style="float:right">

                <a type="submit" routerLink="/public/register-professional" class="btn btn-info btn-sm" id="submit"
                    *ngIf="showSubscriptionButton">Vous
                    êtes professionnel de santé ?</a>

                    <a type="submit" routerLink="/public/login-patient" class="btn btn-info btn-sm" id="submit"
                    *ngIf="showLoginButton">Se connecter</a>


            </div>
        </div>
    </div>
</div>

<div class="yellowsep"></div>