<div class="container">
    <h2>Supprimer consultation</h2>
    <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
    <table class="table table-bordered" *ngIf="element">
        <thead>
            <tr>
                <th scope="col" style="width:16%">Date</th>

                <th scope="col" style="width:42%">Motif</th>
                <th scope="col" style="width:42%">Notes</th>
                <!-- Ajouter plus d'en-têtes de table au besoin -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{element.date | date:'yyyy-MM-dd' }}</td>
                <td>{{ element.motif }}</td>

                <td>{{ element.notes }}</td>

            </tr>
        </tbody>
    </table>
    <button (click)="deleteElement()" class="btn btn-danger">Oui, supprimer consultation</button>
    <button (click)="cancel()" class="btn btn-secondary" style="    margin-left: 15px;
    ">Retour</button>
</div>