<br>

<h2>Ajouter des images de documents</h2>
<form class="user" [formGroup]='addForm'>





    <div class="form-group row">
        <div class="col-sm-12 mb-3 mb-sm-0">
            <label for="documentNames" class="form-label">Images de documents</label>
            <input type="file" class="form-control" id="documentNames" formControlName="documentNames" multiple>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)='register(addForm.value)'
        [disabled]='addForm.invalid'>Enregistrer</button>


</form>