  <div class="container px-4 px-lg-5 mt-5">

<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="row">
  <div class="mb-3 col-md-3">
    <label for="productName" class="form-label">Product name</label>
    <input type="text" class="form-control" id="productName" name="productName"   
    ngModel>
  </div>
  <div class="mb-3 col-md-3">
    <label for="price" class="form-label" >Prix (supérieur à)</label>
    <input type="text" class="form-control" id="price" name="price" ngModel>
  </div>
  <div class="mb-3 col-md-3">
    <label for="categorie" class="form-label">Catégorie</label>
    <select class="form-select" id="categorie" name="category" aria-label="">
      <option selected></option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
      </div>
  <div class="mb-3 col-md-3">

    <label for="submit" class="form-label"></label>
   
  <button type="submit" class="btn btn-primary" id="submit">Rechercher</button>
</div>
</div>
</form>

</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div  class="col mb-5" *ngFor='let p of produits |  paginate : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index' [class.active]="i == currentIndex">
                    <app-produit [produit]="p" ></app-produit>
                </div>
            
               
           
        </div>
        </div>
     </section>       
     <div class="d-flex justify-content-center">
        <pagination-controls 
          responsive="true" 
          previousLabel="Prev" 
          nextLabel="Next" 
          (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>