<h1 class="h3 mb-2 text-gray-800">Dossiers medicaux</h1>

<div class="row">
    <div class="col-lg-12" style="padding-bottom: 15px;">
        <div class="p-3**">

          

            <div style="float:right">

                <a type="submit" routerLink="/professionnel/add-patient" class="btn btn-info btn-sm" id="submit"
                  >Ajouter un patient</a>


            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="row">
                <div class="mb-3 col-lg-4">
                    <label for="productName" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="PatientName" name="PatientName" ngModel>
                </div>
         
        
        
              
        
        
                <!-------Verification -->
        
              
        
                <div class="mb-3 col-lg-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" ngModel>
                </div>
                <div class="mb-3 col-md-4">
        
                      <label for="submit" class="form-label d-md-block  " style="height: 20px;"></label>
    
                    <button type="submit" class="btn btn-primary" id="submit">Rechercher</button>
                </div>
            </div>
        </form>    </div>
    <div class="card-body">
        <div class="table-responsive">
            <!--   <router-outlet></router-outlet>
--->
            <div *ngIf="patients">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" (click)="sortTable('first_name')">Nom </th>
                        <th scope="col" (click)="sortTable('users.created_at')">Date inscription</th>
                        <th scope="col" (click)="sortTable('email')">Email</th>
                        <th scope="col" >Action</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let patient of patients | orderBy: sortColumn : sortOrder">
                        <td>{{patient.first_name}} {{patient.last_name}}</td>
                        <td>{{ (patient.created_at ? patient.created_at : '2023-03-15 10:00') | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td>{{patient.email}}</td>
                        <td>
                          
                        <a *ngIf="patient.sexe==null && patient.birthday==null" routerLink="/professionnel/add-dossier/{{patient.id}}">
                          Créer 
                        </a>
                        <a *ngIf="patient.sexe!=null || patient.birthday!=null" routerLink="/professionnel/edit-dossier/{{patient.id}}">
                          Modifier
                        </a>
                        
                        <a  routerLink="/professionnel/consulter-dossier/{{patient.id}}">
                          Consulter
                        </a>
                        
                        </td>

                      </tr>
                    </tbody>
                  </table>
                  

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[10]" [length]="count"
                    (page)="onTableDataChange($event)"></mat-paginator>

            </div>
        </div>
    </div>
</div>