<div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <h2>Prendre un rendez-vous</h2>
      <div>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" [(ngModel)]="selectedDate" required>

      </div>
      <div>
        <label for="time">Heure:</label>
        <input type="time" id="time" name="time" [(ngModel)]="selectedTime" required>
      </div>
      <div>
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" required>
      </div>
      <div>
        <button type="submit">Valider</button>
        <button type="button" (click)="onCancel()">Annuler</button>
      </div>
    </form>
  </div>
  