<div class="container">
    <h2>Annuler un rendez-vour</h2>
    <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
    <table class="table table-bordered" *ngIf="element">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Etat</th>
          <!-- Ajouter plus d'en-têtes de table au besoin -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{element.date_debut  | date:'yyyy-MM-dd HH:mm' }}</td>
          <td>{{ element.state == 0 ? 'Nouveau' : (element.state == 1 ? 'Confirmé' : '') }}</td>

        </tr>
      </tbody>
    </table>
    <button (click)="deleteElement()" class="btn btn-danger">Oui, annuler rendez-vour</button> 
    <button (click)="cancel()" class="btn btn-secondary" style="    margin-left: 15px;
    ">Retour</button>
  </div>